@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
}

img {
  width: 100px;
}

body {
  font-family: 'Roboto', 'Pretendard', sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #252525;
  letter-spacing: 0.1px;
  background-size: cover;
  background-position: center center;
}

h3 {
  font-weight: 600;
  text-align: left;
  color: #fff;
  margin-bottom: 16px;
}

p {
  font-size: 1rem;
}

a:link {
  color: #252525;
  text-decoration: none;
}

a:visited {
  color: #252525;
}

a:hover {
}

a:active {
}

button {
  height: 60px;
  padding: 0 50px;
  font-size: 0.9rem;
  font-weight: 700;
  border: 1px solid #CE0000;
  background: transparent;
  transition: 0.2s;
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.hidden2 {
  display: hidden;
}


/*pc start*/


body> img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header> a {
  position: absolute;
  top: 5%;
  left: 40px;
}

header> a img {
  width: 120px;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.1));
}

main {
  height: 100%;
  margin: 4vh 120px 4vh 200px;
  display: flex;
  justify-content: space-between;
}

.lefty {
  width: 34%;
  height: 90vh;
  padding: 60px 40px;
  border: 3px solid rgba(256,256,256,0.15);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  background: rgba(256,256,256,0.1);
  text-align: center;
  backdrop-filter: blur(20px);
  text-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.lefty .profile #login-form {
  height: 180px;
  padding: 40px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(256,256,256,0.1);
}

.lefty form div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.lefty form div input {
  width: 60%;
  height: 50px;
  background: transparent;
  border-radius: 30px 0 0 30px;
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
  background: rgba(256,256,256,0.3);
  padding: 0 30px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Roboto', 'Pretendard', sans-serif;
  transition: 0.2s;
  cursor: pointer;
  outline: 0px solid rgba(256,256,256,0.2);
}

.lefty form div input::placeholder {
  color: #fff;
  font-size: 0.9rem;
  font-weight: normal;
}

.lefty form div button {
  height: 50px;
  width: 80px;
  padding: 0;
  background: #fff;
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
  border: none;
  border-radius: 0 30px 30px 0;
  color: #fff;
  background: rgb(31, 109, 255);
}

.lefty form div button:hover {
  background-color: #000;
}

.lefty #greeting {
  height: 180px;
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(256,256,256,0.1);
}

.lefty #greeting> div {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
  border-radius: 30px;
  background: url('../source/default-profile.png');
  background-size: cover;
}
.lefty #greeting> div span {
  position: absolute;
  display: inline-block;
  bottom: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 10px;;
  background: rgb(31, 109, 255);
}

.lefty #greeting h1 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 12px;
}

.lefty #greeting p {
  color: rgba(256,256,256,0.75);
  font-size: 0.9rem;
  font-weight: 300;
}

.lefty .clockcont .clockwrap {
  border-radius: 20px;
  padding: 80px 0;
  margin-bottom: 10px;
  background: rgba(256,256,256,0.3);
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
}

.lefty .clockcont .clockwrap h2 {
  font-size: 4vw;
  color: rgba(256,256,256,0.9);
  font-weight: 400;
  cursor: default;
}

.lefty .wtwrap {
  /*display: flex;*/
  justify-content: space-between;
  width: 100%;
  height: 120px;
}

.lefty .wtwrap h3 {
  margin-top: 40px;
}

.lefty .wtwrap .weather {
  width: 100%;
  /*width: calc(50% - 5px);*/
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  background: rgba(256,256,256,0.3);
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
}

.lefty .wtwrap .weather> div:nth-child(2) span:first-child {
  display: block;
  margin: 28px 0 16px 0;
  font-size: 2.2rem;
  font-weight: 100;
  color: rgba(256,256,256,0.8);
}

.lefty .wtwrap .weather> div:nth-child(2) span:nth-child(2) {
  color: #fff;
  font-weight: 300;
}

.lefty .wtwrap .weather> div:nth-child(2) span:last-child {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(31, 109, 255);
}

.lefty .wtwrap .sw {
  width: calc(50% - 5px);
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  background: rgba(256,256,256,0.3);
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
}




.righty {
  width: 62%;
  height: 90vh;
}

.righty .quote {
  position: relative;
  height: 140px;
  padding: 30px 40px;
  margin-bottom: 20px;
  border: 3px solid rgba(256,256,256,0.15);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  background: rgba(256,256,256,0.1);
  backdrop-filter: blur(20px);
  color: #fff;
  font-size: 0.9rem;
  text-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.righty .quote span:first-child {
  display: inline-block;
  width: 70%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.righty .quote span:last-child {
  display: inline-block;
  padding: 12px 14px;
  position: absolute;
  bottom: 30px;
  right: 40px;
  background: #333;
  border-radius: 4px;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  font-weight: 600;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.righty> div:nth-child(2) {
  height: calc(100% - 160px);
  padding: 40px;
  border: 3px solid rgba(256,256,256,0.15);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  background: rgba(256,256,256,0.1);
  backdrop-filter: blur(20px);
}

.righty> div:nth-child(2)> div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.righty> div:nth-child(2)> div ul {
  width: 52%;
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: overlay;
  padding: 10px 30px 0 0;
  position: relative;
}

.righty> div:nth-child(2)> div ul> div:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.righty> div:nth-child(2)> div ul div:nth-child(1) img {
  width: 140px;
  margin-bottom: 24px;
  filter: drop-shadow(0 0 12px rgba(0,0,0,0.1));
}

.righty> div:nth-child(2)> div ul div:nth-child(1) p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  color: #fff;
  line-height: 1.8rem;
}

.righty> div:nth-child(2)> div ul::-webkit-scrollbar {
  width: 4px;
}

.righty> div:nth-child(2)> div ul::-webkit-scrollbar-track {
  background: rgba(256,256,256,0.1);
}

.righty> div:nth-child(2)> div ul::-webkit-scrollbar-thumb {
  height: 120px;
  background: rgba(256,256,256,0.3);
  border-radius: 10px;

}

.righty> div:nth-child(2)> div ul li {
  position: relative;
  padding: 16px;
  margin-bottom: 12px;
  border: 2px solid rgba(256,256,256,0.05);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  background: rgba(256,256,256,0.2);
  backdrop-filter: blur(20px);
}

.righty> div:nth-child(2)> div ul li span {
  display: inline-block;
  width: calc(100% - 40px);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.6rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.righty> div:nth-child(2)> div ul li button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  border-radius: 40px;
  border: none;
  padding: 0;
  background: url('../source/raindrop2.png');
  background-size: cover;
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));
}

.righty> div:nth-child(2)> div ul li button:hover {
  transform: scale(1.12);
}

.righty> div:nth-child(2)> div> div:nth-child(2) {
  width: 44%;
}

.righty> div:nth-child(2)> div> div:nth-child(2)>div {
  width: 100%;
  height: 60px;
}

.righty> div:nth-child(2)> div> div:nth-child(2) #todo-form {
  width: 100%;
  height: calc(100% - 100px);
  padding: 40px;
  border: 3px solid rgba(0,0,0,0.05);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  background: rgba(256,256,256,0.7);
  backdrop-filter: blur(20px);
}

.righty> div:nth-child(2)> div #todo-form h3 {
  color: #333;
}

.righty> div:nth-child(2)> div #todo-form input {
  padding-left: 20px;
  font-family: 'Roboto', 'Pretendard', sans-serif;
  font-size: 1.1rem;
  background: rgba(256,256,256,0.75);
  border-radius: 30px;
  border: 0px solid rgb(31, 109, 255);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  height: 60px;
  transition: .2s;
}

.righty> div:nth-child(2)> div #todo-form input:focus {
  outline: 3px solid rgb(131, 174, 255);
}

.righty> div:nth-child(2)> div #todo-form input:hover {
  cursor: pointer;
}

.righty> div:nth-child(2) #todo-form input::placeholder {
  font-size: 0.9rem;
  color: #aaa;
}