@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
}

img {
  width: 100px;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #252525;
  letter-spacing: 0.1px;
  background-size: cover;
  background-position: center center;
}

h3 {
  font-weight: 500;
  text-align: left;
  color: #fff;
  margin-bottom: 12px;
}

p {
  font-size: 1rem;
}

a:link {
  color: #252525;
  text-decoration: none;
}

a:visited {
  color: #252525;
}

a:hover {
}

a:active {
}

button {
  height: 60px;
  padding: 0 50px;
  font-size: 0.9rem;
  font-weight: 700;
  border: 1px solid #CE0000;
  background: transparent;
  transition: 0.2s;
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}


/*pc start*/


body> img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header nav a {
  position: absolute;
  top: 5%;
  left: 36px;
}

header nav a img {
  width: 120px;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.1));
  box-shadow: 
}


main {
  height: 100%;
  margin: 4vh 5% 4vh 200px;
  display: flex;
  justify-content: space-between;
}

.lefty {
  width: 35%;
  height: 90vh;
  padding: 60px 40px;
  border: 3px solid rgba(256,256,256,0.15);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  background: rgba(256,256,256,0.1);
  text-align: center;
  backdrop-filter: blur(20px);
  text-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.lefty form {
  height: 160px;
  padding: 40px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(256,256,256,0.1);
}

.lefty form div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.lefty form div input {
  width: 100%;
  height: 50px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
  background: rgba(256,256,256,0.3);
  padding-left: 20px;
  font-size: 1rem;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  outline: 0px solid rgba(256,256,256,0.2);
}

.lefty form div input:focus {
  outline: 2px solid rgba(256,256,256,0.2);
}

.lefty form div input::placeholder {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}

.lefty form div button {
  height: 50px;
  width: 120px;
  margin-left: 10px;
  padding: 0;
  background: #fff;
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
  border: none;
  border-radius: 16px;
  color: #fff;
  background: rgb(31, 109, 255);
}

.lefty form div button:hover {
  background-color: #000;
}

.lefty .greeting {
  height: 160px;
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(256,256,256,0.1);
}

.lefty .greeting> div {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 30px;
  background: url('../source/default-profile.png');
  background-size: cover;
}
.lefty .greeting> div span {
  position: absolute;
  display: inline-block;
  bottom: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 10px;;
  background: rgb(31, 109, 255);
}

.lefty .greeting h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: normal;
}

.lefty .clockcont .clockwrap {
  border-radius: 20px;
  padding: 80px 0;
  margin-bottom: 16px;
  background: rgba(256,256,256,0.3);
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
}

.lefty .clockcont .clockwrap h2 {
  font-size: 4vw;
  color: #fff;
  cursor: default;
}

.lefty .wtwrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}

.lefty .wtwrap .weather {
  width: calc(50% - 8px);
  height: 100%;
  border-radius: 16px;
  padding: 20px;
  background: rgba(256,256,256,0.3);
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
}

.lefty .wtwrap .weather> div:nth-child(2) span:first-child {
  display: block;
  margin: 30px 0 16px;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
}

.lefty .wtwrap .weather> div:nth-child(2) span:last-child {
  
  font-size: 1rem;
  font-weight: 600;
  color: rgb(31, 109, 255);
}

.lefty .wtwrap .sw {
  width: calc(50% - 8px);
  height: 100%;
  border-radius: 16px;
  padding: 20px;
  background: rgba(256,256,256,0.3);
  box-shadow: 12px 12px 12px rgba(0,0,0,0.05);
}




.righty {
  width: 60%;
  height: 90vh;
}

.righty .quote {
  position: relative;
  height: 140px;
  padding: 30px 40px;
  border: 3px solid rgba(256,256,256,0.15);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  background: rgba(256,256,256,0.1);
  backdrop-filter: blur(20px);
  color: #fff;
  font-size: 0.9rem;
  text-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.righty .quote h3 {
  display: inline-block;
  font-weight: 600;
  text-align: left;
  color: #fff;
  margin-bottom: 12px;
}

.righty .quote span:first-child {
  display: inline-block;
  width: 70%;
  letter-spacing: 0.4px;
  line-height: 1.2rem;
}

.righty .quote span:last-child {
  display: inline-block;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  right: 40px;
  background: rgb(31, 109, 255);
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 600;
}